/* Newsletter */

@media(max-width:900px){

.newsletter-container{

    grid-template-columns:1fr;

}

}
/* Footer */

@media(max-width:1000px){

.footer-container{

    grid-template-columns:1fr 1fr;

}

}

@media(max-width:700px){

.footer-container{

    grid-template-columns:1fr;

}

.footer-bottom{

    flex-direction:column;

    text-align:center;

    gap:10px;

}

}
