<nav class="navbar">

    <!-- Logo -->
    <div class="logo">
        <a href="index.html">
            <img src="images/logo.png" alt="Joy Travels and Vacations">
        </a>
    </div>
<!-- Mobile Menu Button -->
<div class="menu-toggle">

    <span></span>

    <span></span>

    <span></span>

</div>
    <!-- Navigation -->
 <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="safaris.html">Safaris</a></li>
    <li><a href="destinations.html">Destinations</a></li>
    <li><a href="hotels.html">Hotels</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>

    <!-- DROPDOWN -->
    <li class="dropdown">

        <a href="#">
            More
        </a>

        <ul class="dropdown-menu">
            <li><a href="excursions.html">Excursions</a></li>
            <li><a href="transfers.html">Transfers</a></li>
            <li><a href="local-experience.html">Local Experiences</a></li>
            <li><a href="group-travel.html">Group Travel</a></li>
            <li><a href="tripadvisor.html">Reviews</a></li>
        </ul>
    </li>
</ul>
    <!-- Action Buttons -->
    <div class="nav-buttons">

        <a href="tel:+254703158470" class="call-btn">
            📞 Call Us
        </a>

        <a href="https://wa.me/254703158470" class="book-btn">
            Book Now
        </a>

    </div>

</nav>
